<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="LeaseCloseOutsSuite" data-provider-thread-count="1">
  <test name="LeaseCloseOutsTest">
    <classes>
      <class name="mainPackage.RunnerClass"/>
    </classes>
  </test > <!-- DataProviderTest -->
</suite> <!-- DataProviderSuite -->
